# Python caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# EDA build and simulation outputs
furuta_lqr_ctrl/impl/
furuta_lqr_ctrl/sim_modelsim/work/
furuta_lqr_ctrl/sim_modelsim/transcript
furuta_lqr_ctrl/sim_modelsim/*.log
furuta_lqr_ctrl/sim_modelsim/*.wlf
furuta_lqr_ctrl/sim_modelsim/*.ini
!furuta_lqr_ctrl/sim_modelsim/modelsim.ini
furuta_lqr_ctrl/sim_modelsim/*.vstf
furuta_lqr_ctrl/*.fs
furuta_lqr_ctrl/*.bin
furuta_lqr_ctrl/*.log
furuta_lqr_ctrl/*.gprj.user

# Temporary files & archives
~$*.xlsx
*.zip
ic coder/
furuta_lqr_ctrl/.git*/

